<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>

			<!-- Link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ '/css/main.css' | prepend: site.baseurl }}">

			<!-- Favicon -->
			<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}" >
			<link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}" >

			<!-- jQuery -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

			<!-- jQuery UI -->
			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
			<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

			<!-- Small script that allows textareas to resize according to the content -->
			<script src="{{ '/scripts/autoresize.jquery.js' | prepend: site.baseurl }}"></script>

			<!-- Hardcoded Scripting -->
			<script>
				// Enable Automatic resizing of all textareas, and trigger the resize handlers
				$(document).ready(function(){

					// Toggle instructor notes if url contains instructor parameter
					let searchParams = new URLSearchParams(window.location.search);
					if(searchParams.has('instructor')) {
						console.log("You're an instructor!");
						$(".instructor_note").css({"display": "flex"});
					}

					$("textarea").autoResize();
					$("textarea").trigger("keyup"); // Manually trigger the textbox resize script

					$("#tabs").tabs(); // jQuery UI: Enable tabbed interface
				});
			</script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/assets/CV_Sam_Kavanagh.pdf">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/tutorials">Tutorials</a></li>
	        		<li><a href="/workshops">Workshops</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hganavak@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hganavak">github.com/hganavak</a></li>
				</ul>
			</footer>
		</body>
	</html>
